@font-face {
  font-family: "Open Sans";

  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");

  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: "Archivo Black";

  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2");

  font-weight: 400;

  font-style: normal;
}

.page {
  background-color: #080312;

  background-image:
    radial-gradient(
      circle at calc(50% - 500px) 200px,
      rgba(140, 82, 255, 0.35),
      transparent 400px
    ),
    radial-gradient(
      circle at calc(50% + 500px) 300px,
      rgba(190, 120, 255, 0.25),
      transparent 450px
    );

  color: #fff;

  font-family: "Open Sans", Arial, sans-serif;

  margin: 0 auto;

  min-width: 320px;

  overflow-x: hidden;
}
